body, html {
    width: 100%;
    height: 100%;
    font-family: fantasy;
    background: url(backgroundimage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.heading {
    color: #fe828c;
    font-size: 3rem;
    background-color: #800020;
    border: 5px solid #fe828c;
    font-family: 'Great Vibes', bold, cursive;
    padding: 10px 5px 10px 5px;
    margin: 30px 0px;
}

h2 {
    font-size: 2rem;
    color: #800020;
    font-family: 'Racing Sans One', cursive;
    font-style: italic;
    font-stretch: ultra-expanded;
}

h4, p {
    color: #360026;
    font-family: 'Great Vibes', cursive, bold;
    font-size: 1rem;
}

ul {
    list-style: none;
    font-size: 1rem;
}

ol {
    list-style: none;
    font-size: 1rem;
}

li {
    display: inline-block;
    font-family: 'Racing Sans One', cursive;
}

.groom, .bride, .partner, .aiko {
    transition: all 1s;
}

.groom:hover, .bride:hover, .partner:hover, .aiko:hover {
    transform: scale(1.2);
}

h3 {
    font-size: 2rem;
    font-family: 'Dancing Script', bold, cursive;
    color: #800020;
}

.faqs {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aiko {
    margin: 20px;
}

.front, .map {
    margin-left: auto;
    margin-right: auto;
}

.demo {
    text-align: center;
    margin-top: 0px;
    font-size: 1rem;
    font-family: 'Racing Sans One', cursive;
}